<header class="site-header">
  <div class="container">
    <div class="site-logo">
      <a href="/">
        <img src="/assets/images/logo.svg" alt="{{ metadata.title }} Logo">
        <span>{{ metadata.title }}</span>
      </a>
    </div>
  </div>
</header>