<meta name="description" content="{{ description or metadata.description }}">
<meta property="og:title" content="{{ title or metadata.title }}">
<meta property="og:description" content="{{ description or metadata.description }}">
<meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<link rel="canonical" href="{{ metadata.url }}{{ page.url }}">